# Variables...
vcenter_server = "vc.example.com"
vcenter_username = "administrator@vsphere.local"
vcenter_password = "P@ssw0rd!"
vcenter_datacenter = "Datacenter"
vcenter_cluster = "Main"
vcenter_host = "10.0.0.10"
vcenter_folder = "Templates"
vcenter_datastore = "Datastore-ESX01-Local-ESXi"
vcenter_network = "Private"
vm_name = "TEMPLATE_DEBIAN10"
vm_notes = "Debian 10 Template created with Packer"
vm_guest_os_type = "debian10_64Guest"
vm_guestinfo_metadata = "network: {config: disabled}"
iso_path = "[TrueNas-Templates] /Images/debian-10.10.0-amd64-netinst.iso"
ssh_username = "automation"
ssh_password = "P@ssw0rd!"
ssh_keys = ""
boot_command = [
  "<esc><wait>",
  "install",
  " auto",
  " netcfg/get_hostname=DEBIAN10",
  " netcfg/get_domain=littleglitch.com",
  " fb=false",
  " debian-installer=en_US.UTF-8",
  " locale=en_US.UTF-8",
  " kbd-chooser/method=us",
  " keyboard-configuration/xkb-keymap=us",
  " console-keymaps-at/keymap=us",
  " console-setup/ask_detect=false",
  " debconf/frontend=noninteractive",
  " grub-installer/bootdev=/dev/sda",
  " preseed/url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg",
  "<enter>",
  ]
local_websrv_ip = "10.0.0.11"
