# Install settings
install
cdrom
lang en_US.UTF-8
keyboard us
# Network Settings
network --onboot yes --device ens192 --bootproto dhcp --noipv6 --hostname RHEL7
firewall --disabled
# Account settings
authconfig --enableshadow --passalgo=sha512
rootpw P@ssw0rd!
user --name=automation --groups=wheel --password=P@ssw0rd!
# System settings
selinux --permissive
timezone --utc Europa/Stockholm
# Disk settings
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"
zerombr
clearpart --linux --initlabel
autopart --type=plain --fstype=ext4
# Run script once the Kickstart file has been parsed
%pre
%end
# Package settings
%packages
@Base
@core
open-vm-tools
openssh-server
openssh-clients
python
perl
cloud-init
%end
# Run script once the installation is complete, but before the system is rebooted for the first time
%post
chkconfig sshd on
sed -i 's/%wheel\tALL=(ALL)\tALL/%wheel\tALL=(ALL)\tNOPASSWD: ALL/g' /etc/sudoers
yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum -y install python2-pip
sed -i 's/^disable_root.*/disable_root: 0/; s/^ssh_pwauth.*/ssh_pwauth: 1/; s/^disable_vmware_customization.*/disable_vmware_customization: true/' /etc/cloud/cloud.cfg
%end
#...
reboot --eject
