# Install settings
install
cdrom
lang en_US.UTF-8
keyboard us
# Network Settings
network --onboot yes --device ens192 --bootproto dhcp --noipv6 --hostname CENTOS8
firewall --disabled
# Account settings
authconfig --enableshadow --passalgo=sha512
rootpw P@ssw0rd!
user --name=automation --groups=wheel --password=P@ssw0rd!
# System settings
selinux --permissive
timezone --utc Europa/Stockholm
# Disk settings
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"
zerombr
clearpart --linux --initlabel
autopart --type=plain --fstype=ext4
# Package settings
%packages
@Base
@core
open-vm-tools
openssh-server
openssh-clients
%end # End of %packages section
# ...
%pre
#!/bin/sh
echo "Test"
%end
#...
%post
chkconfig sshd on
%end
#...
reboot --eject