# Install settings
cdrom
lang en_US.UTF-8
keyboard us
# Network Settings
network --onboot yes --device ens192 --bootproto dhcp --noipv6 --hostname CENTOS8
firewall --disabled
# Account settings
authconfig --enableshadow --passalgo=sha512
rootpw P@ssw0rd!
user --name=automation --groups=wheel --password=P@ssw0rd!
# System settings
selinux --permissive
timezone --utc Europa/Stockholm
# Disk settings
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"
zerombr
clearpart --linux --initlabel
ignoredisk --only-use=sda
autopart --type=plain --fstype=xfs
# Run script once the Kickstart file has been parsed
%pre
%end
# Package settings
%packages
@Base
@core
open-vm-tools
openssh-server
openssh-clients
python3
perl
cloud-init
%end
# Run script once the installation is complete, but before the system is rebooted for the first time
%post
chkconfig sshd on
alternatives --set python /usr/bin/python3
sed -i 's/%wheel\tALL=(ALL)\tALL/%wheel\tALL=(ALL)\tNOPASSWD: ALL/g' /etc/sudoers
sed -i 's/^disable_root.*/disable_root: 0/; s/^ssh_pwauth.*/ssh_pwauth: 1/; s/^disable_vmware_customization.*/disable_vmware_customization: true/' /etc/cloud/cloud.cfg
%end
#...
reboot --eject
